<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PartTimeJob</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.fmt.parttime.servlet.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoblistServlet</display-name>
    <servlet-name>JoblistServlet</servlet-name>
    <servlet-class>com.fmt.parttime.servlet.JoblistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoblistServlet</servlet-name>
    <url-pattern>/JoblistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobcollectServlet</display-name>
    <servlet-name>JobcollectServlet</servlet-name>
    <servlet-class>com.fmt.parttime.servlet.JobcollectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobcollectServlet</servlet-name>
    <url-pattern>/JobcollectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobapplyServlet</display-name>
    <servlet-name>JobapplyServlet</servlet-name>
    <servlet-class>com.fmt.parttime.servlet.JobapplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobapplyServlet</servlet-name>
    <url-pattern>/JobapplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommitServlet</display-name>
    <servlet-name>CommitServlet</servlet-name>
    <servlet-class>com.fmt.parttime.servlet.CommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommitServlet</servlet-name>
    <url-pattern>/CommitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VersionServlet</display-name>
    <servlet-name>VersionServlet</servlet-name>
    <servlet-class>com.fmt.parttime.servlet.VersionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VersionServlet</servlet-name>
    <url-pattern>/VersionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.fmt.parttime.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
</web-app>